.port {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--white);
  border: 2px solid var(--gray-300);
  pointer-events: auto;
}

.port-top {
  top: -7px;
  left: calc(50% - 7px);
}

.port-right {
  top: calc(50% - 7px);
  right: -7px;
}

.port-bottom {
  bottom: -7px;
  left: calc(50% - 7px);
}

.port-left {
  top: calc(50% - 7px);
  left: -7px;
}

.port:hover {
  border-color: var(--blue);
}
